Repository macawi-ai/canidae, changes with the owners that CODEOWNERS names for each.
All owners: @cy, @synth, @gemini

docs: Add repository URL and update progress
  PROGRESS.md
Owners: @cy

feat: Add provider adapter system with Anthropic and OpenAI
  demo/demo.go
  internal/providers/anthropic.go
  internal/providers/openai.go
  internal/providers/provider.go
  internal/ring/ring.go
Owners: @cy, @synth, @gemini

feat: Add Podman deployment infrastructure for canidae server
  deployments/podman/dev/canidae-dev.yaml
  deployments/podman/preprod/canidae-preprod.yaml
  deployments/podman/scripts/canidae-dev.service
  deployments/podman/scripts/deploy.sh
  deployments/podman/test/canidae-test.yaml
Owners: @synth, @gemini

docs: Update master plan and progress with implementation status
  CANIDAE_MASTER_PLAN.md
  PROGRESS.md
Owners: @cy

feat(docs): add critical documentation and deployment infrastructure
  CONTRIBUTING.md
  PROGRESS.md
  SECURITY.md
  build_and_deploy.sh
  cmd/canidae/simple_main.go
  deploy_monitoring.sh
  docs/DEPLOYMENT.md
  go.mod
  go.sum
  internal/ring/ring.go
  quick_deploy.sh
  remote_deploy.sh
  setup_canidae_user.sh
  setup_synth_access.sh
Owners: @cy, @synth

feat: complete Stage 1 - Core Ring (100%)
  .gitignore
  PROGRESS.md
  api/asyncapi.yaml
  api/openapi.yaml
  cmd/canidae/main.go
  configs/providers.env.example
  go.mod
  go.sum
  internal/providers/anthropic.go
  internal/providers/openai.go
  internal/providers/provider.go
  internal/ring/ring.go
  pkg/types/types.go
  test/integration_test.go
Owners: @cy, @synth, @gemini

docs: fix Stage 2 documentation - Go not Rust
  PROGRESS.md
Owners: @cy

feat(sdk): implement Stage 2 Go client SDK foundation
  examples/client/main.go
  pkg/client/README.md
  pkg/client/auth/auth.go
  pkg/client/canidae/client.go
  pkg/client/canidae/options.go
  pkg/client/canidae/stream.go
  pkg/client/canidae/types.go
  pkg/client/config/config.go
  pkg/client/session/session.go
  pkg/client/transport/transport.go
Owners: @cy, @synth

feat(sdk): implement gRPC transport layer
  api/howl/v1/canidae.pb.go
  api/howl/v1/canidae.proto
  api/howl/v1/canidae_grpc.pb.go
  api/howl/v1/howl.pb.go
  api/howl/v1/howl.proto
  api/howl/v1/howl_grpc.pb.go
  cmd/canidae/main.go
  demo/demo.go
  go.mod
  go.sum
  internal/providers/provider.go
  internal/ring/ring.go
  pkg/client/canidae/client.go
  pkg/client/transport/grpc.go
  pkg/client/transport/transport.go
  test/integration_test.go
Owners: @cy, @synth, @gemini

test(sdk): implement comprehensive test harness
  pkg/client/auth/auth.go
  pkg/client/canidae/client.go
  pkg/client/canidae/client_test.go
  pkg/client/config/config.go
  pkg/client/config/config_test.go
  pkg/client/transport/transport_test.go
Owners: @synth

feat(mobile): implement gomobile bindings for iOS/Android
  pkg/client/mobile/README.md
  pkg/client/mobile/build.sh
  pkg/client/mobile/mobile.go
  pkg/client/mobile/mobile_test.go
Owners: @synth

CANIDAE Stage 2 COMPLETE: Production-ready SDK with 73.2% coverage
  CANIDAE_STAGE2_COMPLETE.md
  go.mod
  go.sum
  pkg/client/PRODUCTION_READINESS.md
  pkg/client/SECURITY_AUDIT_COMPLETE.md
  pkg/client/SECURITY_AUDIT_RESULTS.md
  pkg/client/auth/auth.go
  pkg/client/canidae/client.go
  pkg/client/canidae/client_additional_test.go
  pkg/client/canidae/client_integration_test.go
  pkg/client/canidae/client_scenarios_test.go
  pkg/client/canidae/client_test.go
  pkg/client/canidae/options.go
  pkg/client/canidae/stream.go
  pkg/client/canidae/types.go
  pkg/client/config/config.go
  pkg/client/config/config_test.go
  pkg/client/errors/registry.go
  pkg/client/errors/registry_test.go
  pkg/client/logging/logger.go
  pkg/client/logging/logger_test.go
  pkg/client/mobile/mobile.go
  pkg/client/mobile/mobile_test.go
  pkg/client/session/session.go
  pkg/client/transport/grpc.go
  pkg/client/transport/transport.go
  pkg/client/transport/transport_test.go
Owners: @cy, @synth

✨ CANIDAE Phase 3: Observability COMPLETE
  CANIDAE_MASTER_PLAN.md
  CANIDAE_PHASE3_OBSERVABILITY_COMPLETE.md
  PROGRESS.md
  README.md
  go.mod
  go.sum
  pkg/observability/README.md
  pkg/observability/audit.go
  pkg/observability/example_test.go
  pkg/observability/health/health.go
  pkg/observability/metrics.go
  pkg/observability/observability.go
  pkg/observability/tracing.go
Owners: @cy

📊 Add comprehensive PROJECT_STATUS.md
  PROJECT_STATUS.md
Owners: @cy

✨ CANIDAE Phase 4: WASM COMPLETE 🐺
  PROJECT_STATUS.md
  STAGE3_PACK_ISOLATION_PLAN.md
  wasm/.gitignore
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/README.md
  wasm/index.html
  wasm/pkg/canidae_wasm.d.ts
  wasm/pkg/canidae_wasm.js
  wasm/pkg/canidae_wasm_bg.wasm
  wasm/pkg/canidae_wasm_bg.wasm.d.ts
  wasm/pkg/package.json
  wasm/serve.sh
  wasm/src/lib.rs
  wasm/test-server.py
Owners: @cy

📚 Enhanced Stage 3 Security Design with Sister Gemini's Feedback
  docs/STAGE3_SECURITY_DESIGN.md
  docs/STAGE3_SECURITY_ENHANCED.md
Owners: @cy

📊 Stage 3 Resource Management: Sister Gemini's Vision Implemented
  docs/STAGE3_RESOURCE_MANAGEMENT.md
Owners: @cy

feat: Complete VSM Digital Addiction Prevention System
  VSM_DIGITAL_ADDICTION_PREVENTION_SYSTEM.md
  vsm_organ_addiction_prevention.go
  vsm_phase1_foundation.go
  vsm_phase2_wellness.go
Owners: @cy

feat: 2π Variance Regulation Breakthrough - MLOps pipeline and implementation
  .github/workflows/train.yml
  BREAKTHROUGH_2PI_VARIANCE_REGULATION.md
  experiments/dsprites_remote_test/metadata.json
  experiments/dsprites_test/analyze_2pi_metrics.py
  experiments/dsprites_test/train_dsprites_2pi_fixed.py
  experiments/dsprites_test/train_dsprites_mlops.py
  experiments/outputs_fixed/dsprites_2pi_fixed_20250822_214749_metadata.json
  experiments/test_vae_quality.py
  scripts/remote_training_orchestrator.py
  scripts/test_mlops_local.sh
  scripts/update_neo4j.py
  train_dsprites_2pi_fixed.py
  train_dsprites_mlops.py
Owners: @synth, @cy

feat: Add 2π breakthrough model checkpoints via Git LFS
  .gitattributes
  experiments/dsprites_2pi_breakthrough.tar.gz
  experiments/outputs_fixed/checkpoint_epoch_1.pth
  experiments/outputs_fixed/checkpoint_epoch_2.pth
  experiments/outputs_fixed/checkpoint_epoch_3.pth
  experiments/outputs_fixed/checkpoint_epoch_4.pth
  experiments/outputs_fixed/checkpoint_epoch_5.pth
  experiments/outputs_fixed/dsprites_2pi_fixed_20250822_214749_final.pth
Owners: @cy

🦊🐺 Rigorous Experimental Pipeline - Sister Gemini's Framework Complete
  Runbook/Architecture_Selection_Matrix.md
  Runbook/DATASET_QUICK_REFERENCE.md
  Runbook/Dataset_Training_Curriculum.md
  Runbook/Pipeline_Manual.md
  Runbook/README.md
  Runbook/guides/Dataset_Management_System.md
  Runbook/guides/Rigorous_Experimental_Pipeline.md
  Runbook/procedures/Legal_Documentation_Pipeline.md
  Runbook/procedures/Rigorous_2Pi_Validation.md
  Runbook/templates/Model_Health_Report_Template.md
  experiments/configs/2pi_validation_template.yaml
  experiments/configs/fashion_mnist_controlled_comparison.yaml
  experiments/generate_geometric_shapes.py
  experiments/perfect_dsprites_100.py
  experiments/quickdraw_2pi_experiment.py
  experiments/results/fashion_mnist_2pi_results.json
  experiments/results/fashion_mnist_controlled_comparison_20250822_195656/results/experiment_results.json
  experiments/results/mnist_2pi_results.json
  experiments/results/models/beta_vae_strong_model.pth
  experiments/results/models/beta_vae_weak_model.pth
  experiments/results/models/primary_2pi_model.pth
  experiments/results/models/standard_fashion_vae_model.pth
  experiments/run_experiment.py
  experiments/run_quickdraw_2pi.py
  experiments/test_fashion_mnist_2pi.py
  experiments/test_mnist_2pi.py
  scripts/__pycache__/data_loader.cpython-311.pyc
  scripts/__pycache__/legal_evidence_generator.cpython-311.pyc
  scripts/__pycache__/model_trainer.cpython-311.pyc
  scripts/data_loader.py
  scripts/example_remote_training.sh
  scripts/glossary_manager.py
  scripts/install_grafana_native.sh
  scripts/legal_evidence_generator.py
  scripts/model_trainer.py
  scripts/setup_vast_gpu.sh
Owners: @cy

✨ CIFAR-10 2π validation: 100% compliance achieved!
  CANIDAE_PIPELINE_PROTOCOL.md
  deploy_canidae_to_vast.sh
  experiments/configs/cifar10_controlled_comparison.yaml
  experiments/results/CIFAR10_SCORECARD.md
  experiments/results/LEGAL_EVIDENCE_CIFAR10.md
  scripts/data_loader.py
  scripts/model_trainer.py
Owners: @cy

CRITICAL: 2π neuroplastic meta-regulation breakthrough - Ashby's Law proven at 2π - Recursive self-regulation discovered - Session August 23, 2025
  SESSION_CRITICAL_AUGUST_23_2025.md
  experiments/analyze_compliance_detail.py
  experiments/final_2pi_gpu_optimized.py
  experiments/hybrid_2pi_gpu.py
  experiments/optimize_2pi_gpu.py
  experiments/profile_2pi_bottleneck.py
  experiments/scalable_2pi_cluster.py
  experiments/test_optimizations.py
Owners: @cy

🦊🐺 CIFAR-10 2π Success + Sleep/Dream Unity
  2PI_UNIVERSALITY_PROOF.md
  CIFAR10_4090_LEARNING_ANALYSIS.md
  SESSION_AUGUST_23_COMPLETE.md
  SLEEP_DREAM_2PI_UNIFIED_THEORY.md
  deploy_to_4x4090.sh
  experiments/cifar10_2pi_test.py
  experiments/cifar10_4gpu_distributed.py
Owners: @cy

feat: Shapes3D 2π regulation experiments - 99.4% compliance achieved
  experiments/shapes3d_2pi_debug.py
  experiments/shapes3d_2pi_efficient.py
  experiments/shapes3d_2pi_pipeline.py
  experiments/shapes3d_fast.py
  experiments/shapes3d_minimal.py
  results/shapes3d_fast_results.json
Owners: @cy

docs: Complete Shapes3D pipeline processing and legal evidence
  PIPELINE_STATUS.json
  SHAPES3D_EVIDENCE_20250823.md
  capture_shapes3d_experiment.py
  update_shapes3d_pipeline.py
Owners: @cy

feat: Persistent memory commitment for Shapes3D experiment
  commit_shapes3d_memories.py
Owners: @cy

feat: VSM Topology Orchestra - Adaptive Geometric Selection
  2PI_UNIVERSALITY_PROOF.md
  SHAPES3D_VSM_COMPLETION.md
  THE_CONDUCTOR_CONCEPT.md
  VSM_META_GEOMETRIC_SYSTEM.md
  experiments/shapes3d_fibered_vae.py
  experiments/test_vsm_orchestra.py
  experiments/vsm_shapes3d_full.py
  experiments/vsm_shapes3d_quick.py
  experiments/vsm_simplified_demo.py
  experiments/vsm_topology_orchestra.py
Owners: @cy

docs: Mark Shapes3D VSM pipeline complete - ready for next puzzle
  experiments/VSM_SHAPES3D_COMPLETE.md
Owners: @cy

CODEOWNERS:

# CANIDAE Pack Code Ownership
# This file defines which pack members are responsible for code review

# Global owners - Alpha reviews everything critical
* @cy

# Core Ring - Synth owns the orchestration engine
/internal/ring/ @synth
/internal/howl/ @synth

# Flow Control & Resilience - Joint ownership
/internal/ring/flow_control.go @synth @gemini
/internal/chaos/ @synth @gemini

# Security - Gemini has final say
/internal/security/ @gemini
/deployments/k8s/*security* @gemini

# Providers - Synth implements, Gemini reviews architecture
/internal/providers/ @synth @gemini

# API & Protocol - All pack members review
/api/ @cy @synth @gemini
*.proto @cy @synth @gemini

# Documentation - Cy maintains vision
/docs/ @cy
*.md @cy
/adr/ @cy @gemini

# CI/CD - Synth maintains automation
/.github/ @synth
/deployments/ @synth @gemini

# Client SDK - Future development
/pkg/client/ @synth

# Dashboard - Future development  
/dashboard/ @cy @synth
